<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Detail</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <style>
      body { background-color: rgb(226, 230, 234); } nav { background-color:
      rgb(244, 243, 243); } .project-image { box-shadow: 0 0.4rem 1rem rgba(0,
      0, 0, 0.2); } .fa-brands { font-size: 1.5rem; margin-right: 0.5rem; }
    </style>
  </head>
  <body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-md bg-grey-200">
      <div class="container">
        <a href="/" class="navbar-brand fs-2">
          <i id="logo" class="fa-solid fa-laptop-code"></i>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navmenu" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link"><strong>Home</strong></a>
            </li>
            {{#if user}}
              <li class="nav-item">
                <a href="/add-project" class="nav-link">Add Project</a>
              </li>
            {{/if}}
            <li class="nav-item">
              <a href="/testimonials" class="nav-link">Testimonials</a>
            </li>
          </ul>
          {{#if user}}
            <a
              href="/logout"
              class="ms-auto me-3 my-2 text-light btn btn-success rounded-circle"
            ><i class="fa-regular fa-user"></i></a>
          {{else}}
            <a
              href="/login"
              class="ms-auto me-3 my-2 text-light btn btn-secondary rounded-circle"
            ><i class="fa-regular fa-user"></i></a>
          {{/if}}
          <a href="/contact" class="d-block btn btn-primary my-2">Contact Me</a>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <main class="container py-5">
      <h1 class="text-center">{{projects.title}}</h1>
      <p class="text-secondary text-center mb-4">By: {{projects.name}}</p>
      <div class="row justify-content-center mb-5">
        <div class="col-md-6 mb-4 mb-md-0">
          <img
            src="{{projects.image}}"
            alt="Image of {{projects.title}}"
            class="img-fluid project-image"
          />
        </div>
        <div class="col-md-6">
          <div class="mb-4">
            <h2 class="h4 mb-3">Duration</h2>
            <p class="mb-2">
              <i class="fa-regular fa-calendar me-2"></i>{{projects.start_date}}
              -
              {{projects.end_date}}
            </p>
            <p><i class="fa-regular fa-clock me-2"></i>{{projects.duration}}</p>
          </div>
          <div>
            <h2 class="h4 mb-3">Technologies</h2>
            <div class="d-flex flex-wrap gap-4">
              {{#each projects.technologies}}
                <span class="d-flex align-items-center">
                  <i class="fa-brands fa-{{this}} me-2"></i>
                  {{this}}
                </span>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="h4 mb-3">Description</h2>
          <p class="text-justify">
            {{projects.description}}
          </p>
        </div>
      </div>
    </main>

    <!-- Bootstrap Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>